.main_container{
    background-image: url("./images/fondo.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size:50rem;
    .container_info_joke{
        color:white;
        .info_joke{
            padding-top:250px;
            .joke{
            max-width: 400px ;
            }
            button{
                padding: 7px 15px;
                border-radius:20px;
                background-color: #ffc400;
                font-weight: bold;
            }
        }
    }

    @media (max-width:768px){
        background-size:46rem;
        .container_info_joke{
            .info_joke{
                padding-top:250px;
                .joke{
                    max-width: 350px ;
                    }
            }
        }
    }
    @media (max-width:425px){
        background-size:45rem;
        .back_left , .back_right{
            display:none;
        }
    }
    @media (max-width:375px){
        background-size:40rem;
        
    }
   
}





@import "./node_modules/bootstrap/scss/bootstrap.scss"