body{
    background-image: url("./images/smile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
    height: 100vh;
}

.container .card{
   min-height: 300px;
   .joke{
        min-height: 100px;
   }
}

.container_emojis{
    span{
        cursor:pointer;
        font-size: 20px;
    }
}

.degrees{
    font-size: 25px;
}

@import "./node_modules/bootstrap/scss/bootstrap.scss"